/* red-hat-display-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  font-weight: normal;
  color: rgb(58, 58, 58);
  background: #18222d;
}

p {
  color: #F5F5F5;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}

.main {
  display: flex;
}

/*contacts styles start*/
/* header styles start */

.contacts {
  min-width: 250px;
  border-right: .5px solid rgb(70, 74, 97);
  height: 1200px;
  overflow: auto;
}

.header {
  position: fixed;
  background: #18222d;
  min-width: 250px;
  padding: 5px;
  display: flex;
}

.contacts__header {
  left: 0px;
  top: 0px;
  border-right: .5px solid rgb(70, 74, 97);
  justify-content: space-between;
  padding: 16px;
}

.create__item-pic {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.create__item:hover,
.create__item:active,
.create__item:focus {
  transition: 1s;
  background: rgb(136, 169, 177);
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  text-align: center;
  background: url(../img/search__header.png) no-repeat left 20% center,
    #24303f;
  background-size: 20px;
}

input[class="search"]::placeholder,
input[class="user__messages_footer__text-message"]::placeholder {
  color: #979AAA;
}

.search:focus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  text-align: center;
  background: url(../img/search__header.png) no-repeat left 5% center,
    #24303f;
  background-size: 20px;

}

.search__wrapper:hover,
.search__wrapper:active,
.search__wrapper:focus {
  opacity: 0.9;
}

.search-icon {
  width: 15px;
}

.dialogs {
  margin-top: 60px;
}

.dialog-item {
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: solid .5px #464a61;
  min-width: 200px;
}

.dialog-item:last-child {
  margin-bottom: 50px;
}

.user__profile {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.profile__photo {
  margin-right: 10px;
}

.user__photo,
.chat__logo-pic {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.user__name {
  margin-bottom: 3px;
}

.user__name_text,
.group__name-text {
  font-weight: 700;
  font-size: 15px;
}

.user__message_text,
.user__counter,
.msg__time {
  color: #979AAA;
}

.message__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.message_count {
  background: #B0C4DE;
  border-radius: 20px;
  padding: 4px;
}

.blue {
  background: #4fa7f8;
  border-radius: 20px;
  padding: 4px;
}

.message_count_number {
  color: black;
  font-size: 12px;
}

/* header styles end */
/*contacts styles end*/

/* footer styles start */

.contacts__footer {
  min-width: 250px;
  position: fixed;
  background: #18222d;
  display: flex;
  justify-content: space-evenly;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  border-top: .5px solid rgb(70, 74, 97);
  border-right: .5px solid rgb(70, 74, 97);
}

.contact__list,
.calling_pic,
.messages_pic,
.settings_pic,
.user__messages_footer-pic,
.user_messages_footer__emoji-pic,
.user__messages_footer__voice-pic {
  width: 30px;
  height: 30px;
  transition: 1s;
}

.contact__list,
.calling_pic,
.messages_pic,
.settings_pic {
  width: 30px;
  height: 30px;
  transition: 1s;
}

.contact__list:hover,
.calling_pic:hover,
.messages_pic:hover,
.settings_pic:hover {
  cursor: pointer;
  background: rgb(136, 169, 177);
}

.user_messages_footer__emoji-pic:hover,
.user__messages_footer__voice-pic:hover {
  transform: scaleX(-1);
}

.user__messages_footer-pic:hover {
  transform: rotate(720deg);
}

/* footer styles end */

/* messages styles start*/
.messages {
  width: 83%;
}

.messages__header {
  position: fixed;
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: .5px solid rgb(70, 74, 97);
}

.about__group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.group__logo {
  margin-right: 10px;
}

.group__info {
  margin-top: 5px;
}

.group__name {
  margin-bottom: 5px;
}

.user__counter {
  margin-left: 3px;
}

.msg__header-search,
.msg__header-menu {
  width: 25px;
  height: 25px;
}

.msg__header-search:hover,
.msg__header-menu:hover {
  cursor: pointer;
  background: rgb(136, 169, 177);
}

.header__actions {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg__header-menu {
  margin-right: 15px;
}

.user__messages-main {
  margin-top: 50px;
  padding: 17px;
  overflow: auto;
}

.user__mesagges_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.msg_user__info {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.icon-read {
  width: 15px;
  height: 15px;
}

.msg__message-info {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.msg__was-reading {
  margin-bottom: 5px;
}

.msg__user_photo {
  width: 40px;
}

.msg__user_photo-pic {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.msg__user_name {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 3px;
}

.msg__user_message {
  max-width: 800px;
  margin-right: 30px;
}

.msg__user_chat__photo {
  height: 200px;
}

.chat__photo {
  max-height: 100%;
  border-radius: 10px;
}

.color_gr {
  color: #4acab4;
}

.color_bl {
  color: #2ea6ff;
}

.color_lightbl {
  color: #7bc9ff;
}

/* messages styles end */

/* footer messages styles start */
.footer__wrapper {
  position: fixed;
  bottom: 0;
  left: 250px;
  padding: 10px;
  width: inherit;
  border-top: 1px solid rgb(119, 120, 126);
  background: #18222d;
  overflow-y: hidden;
}

.user__messages_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user__messages_footer__text-message {
  background: #18222d;
  border: none;
  font-size: 14px;
}

.test {
  display: flex;
  justify-items: center;
  gap: 30px;
}

/* footer messages styles end */

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }

  .messages,
  .user__mesagges_wrapper,
  .user__messages_footer {
    width: 100%;
  }

  .footer__wrapper {
    left: 0;
  }

  .messages {
    min-width: 450px;
  }
}