@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  font-weight: normal;
  color: rgb(58, 58, 58);
  background: #18222d;
  height: 100vh;
}

p {
  color: #f5f5f5;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}

.main {
  display: grid;
  grid-template-columns: 25% auto;
  margin: 0;
}

/*contacts styles start*/
/* header styles start */

.contacts {
  border-right: 0.5px solid rgb(70, 74, 97);
  height: 900px;
  justify-content: space-between;
  flex-flow: column;
  min-width: 25%;
}

.header {
  background: #18222d;
  display: flex;
  height: 60px;
  padding: 16px;
}

.contacts__header {
  /* left: 0px;
  top: 0px; */
  border-right: 0.5px solid rgb(70, 74, 97);
  justify-content: space-between;
  padding: 16px;
}

.create__item-pic {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.create__item:hover,
.create__item:active,
.create__item:focus {
  opacity: 0.7;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  text-align: center;
  background: url(../img/search__header2.png) no-repeat left 20% center, #24303f;
  background-size: 20px;
}

input[class="search"]::placeholder,
input[class="user__messages_footer__text-message"]::placeholder {
  color: #979aaa;
}

.search:focus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  text-align: center;
  background: url(../img/search__header2.png) no-repeat left 5% center, #24303f;
  background-size: 20px;
}

.search__wrapper:hover,
.search__wrapper:active,
.search__wrapper:focus {
  opacity: 0.7;
}

.search-icon {
  width: 15px;
}

.dialogs {
  height: calc(100vh - 60px - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.dialog-item {
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: solid 0.5px #464a61;
  min-width: 200px;
}

.user__profile {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.profile__photo {
  margin-right: 10px;
}

.user__photo,
.chat__logo-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user__name {
  margin-bottom: 3px;
}

.user__name_text,
.group__name-text {
  font-weight: 700;
  font-size: 15px;
}

.user__message_text,
.user__counter,
.msg__time {
  color: #979aaa;
}

.message__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.message_count {
  background: #b0c4de;
  border-radius: 20px;
  padding: 4px;
}

.blue {
  background: #4fa7f8;
  border-radius: 20px;
  padding: 4px;
}

.message_count_number {
  color: black;
  font-size: 12px;
}

/* header styles end */
/*contacts styles end*/

/* footer styles start */

.contacts__footer {
  /* background: #18222d; */
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 10px; */
  border-top: 0.5px solid rgb(70, 74, 97);
  border-right: 0.5px solid rgb(70, 74, 97);
}

.contact__list,
.calling_pic,
.messages_pic,
.settings_pic,
.user__messages_footer-pic,
.user_messages_footer__emoji-pic,
.user__messages_footer__voice-pic {
  width: 30px;
  height: 30px;
  transition: 1s;
  margin-right: 20px;
}

.contact__list,
.calling_pic,
.messages_pic,
.settings_pic {
  width: 30px;
  height: 30px;
  transition: 1s;
}

.contact__list:hover,
.calling_pic:hover,
.messages_pic:hover,
.settings_pic:hover,
.user_messages_footer__emoji-pic:hover,
.user__messages_footer__voice-pic:hover,
.user__messages_footer-pic:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* footer styles end */

/* messages styles start*/
.messages {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.messages__header {
  width: 100%;
  height: 60px;
  /* position: fixed;
  left: 25%;
  top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 0.5px solid rgb(70, 74, 97);
  background: #18222d;
}

.about__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.header__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.msg__header-search,
.msg__header-menu {
  width: 25px;
  margin-right: 20px;
}

.msg__header-search:hover,
.msg__header-search:focus,
.msg__header-search:active,
.msg__header-menu:hover,
.msg__header-menu:focus,
.msg__header-menu:active {
  opacity: 0.7;
}

/* messages styles start */
.user__messages-main {
  width: 100%;
  height: 100vh;
  padding: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.user__mesagges_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
}

.msg_user__info {
  display: flex;
  gap: 10px;
}

.msg__user_photo-pic {
  width: 50px;
  border-radius: 50%;
}

.msg__message-info {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.msg__user_message {
  min-width: 80%;
}

.user__mesagges_wrapper:last-child {
  margin-bottom: 60px;
}

.user__message_text {
  margin-bottom: 10px;
}

.icon-read {
  width: 15px;
}

.color_gr {
  color: #4acab4;
}

.color_bl {
  color: #2ea6ff;
}

.color_lightbl {
  color: #7bc9ff;
}

/* messages styles end */

/* footer messages styles start */
.footer__wrapper {
  width: 100%;
  height: 60px;
  /* position: fixed;
  left: 25%;
  bottom: 0; */
  display: flex;
  justify-content: space-between;
  /* padding: 5px; */
  padding: 16px;
  /* align-items: center; */
  border-top: 0.5px solid rgb(70, 74, 97);
  /* background: #18222d; */
}

.user__messages_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

.footer__write_message {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.user__messages_footer__text-message {
  background: #18222d;
  border: none;
  font-size: 14px;
}

.footer__emoji {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

/* footer messages styles end */

@media screen and (max-width: 988px) {
  .contacts {
    display: none;
  }

  .messages {
    grid-column: span 2;
  }
}

@media screen and (max-width: 767px) {
  .messages__header,
  .footer__wrapper {
    padding-right: 20px;
  }
}
